*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: cursive;
}

body{
    background-color: #fb6f92;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 50%;

}
.navlinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
    transition: 0.5s ease;
}

.navlinks li a{
    display: inline-block;
    color: #a4133c;
    text-transform: capitalize;

}

.navlinks li a:hover{
    transform: translate(5px);
    color: #ff758f
}

#banner1{
    height: 100vh;
    width: 100%;
    background-image: url(/Images/bng.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0 4%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 10rem;
}

.banner-img img{
    width: 100%;
} 

.banner-text h1{
    color: #a4133c;
    font-weight: bolder;
}

.banner-text p{
    color: #a4133c;
    font-size: 20px;
    line-height: 45px;
    margin-top: 20px;
}

#about{
    width: 100%;
    padding:50px 0px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: #a4133c;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h3{
    color: #a4133c;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;

}

.slider{
    background-image: url(Images/pexels-nietjuhart-776635.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-slider{
    position: relative;
    width: 800px;
    height: 900px;
    border-radius: 10px;
    overflow: hidden;
}

.slide{
    width: 500%;
    height: 500px;
    display: flex;
}

.slide input{
    display: none;
}

.st{
    width: 20%;
    transition: 2s;
}

.st img{
    width: 800px;
    height: 1000px;
}

.nav-m{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    margin-top: 0;
    justify-content: center;
    gap: 30px ;
    display: flex;
    z-index: 10;
}

.m-btn{
    border: 2px solid #a4133c;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin-right: 30px;
}
.m-btn:hover{
    background-color: #a4133c;
}

#radio1:checked ~.first{
    margin-left: 0;
}

#radio2:checked ~.first{
    margin-left: -20%;
}

#radio3:checked ~.first{
    margin-left: -40%;
}
#radio4:checked ~.first{
    margin-left: -60%;
}

.nav-auto{
    display: none;
}

.nav-auto div{
    border: 2px solid #a4133c;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~.nav-auto .a-b1{
    background-color: #a4133c;
}

#radio2:checked ~.nav-auto .a-b1{
    background-color: #a4133c;
}

#radio3:checked ~.nav-auto .a-b1{
    background-color: #a4133c;
}

#radio4:checked ~.nav-auto .a-b1{
    background-color: #a4133c;
}
